*{
    margin: 0;
    padding: 0;
    
}
body{
    overflow: hidden;
    animation: shakex 0.8s linear infinite;
    animation: shakey 0.8s linear infinite;
}
.sky{
    height:100vh;
    width: 200%;
    background: url('background.jpg') ;
    background-repeat: repeat-x;
    position: absolute;
    /* animation: carMove linear 2s infinite; */
}
.trees{
    height: 100vh;
    width: 800%;
    background:url('trees.png');
    /* background-size:cover ; */
    position: absolute;
    top: -144px;
    background-repeat: repeat-x;
    animation: MovingTrees 5s linear infinite;

    
}
.track{
    background-size: cover;
    height: 30vh;
    width: 800%;
    background:url('track.png');
    background-repeat: repeat-x;
    position: absolute;
    top: 70vh;
    animation: carMove linear 2s infinite;
}
.car{
    height: 100px;
    width: 380px;
    background: url('car_body.png');
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    bottom: 0;
    left: 444px;
    bottom: 25vh;
    animation: shakex 0.1s linear infinite; /*Yha par yeh animation rakhana na rakhna barabar h kyoki humne same animation full body me apply kr dia h*/
    animation: shakey 0.1s linear infinite; /*Yha par yeh animation rakhana na rakhna barabar h kyoki humne same animation full body me apply kr dia h*/
}

.wheel1 img{
    width: 77px;
    position: relative;
    top: 36px;
    left: 42px;
    animation: wheelrotation linear 0.1s infinite;
}

.wheel2 img {
    width: 77px;
    position: relative;
    top: -41px;
    left: 236px;
    animation: wheelrotation linear 0.1s infinite;
}
@keyframes wheelrotation {
    100%{
        transform: rotate(360deg);
    }
}
@keyframes carMove {
    100%{
        transform: translateX(-500vw);
    }
}
@keyframes shakex {
    0%{
        transform: translateX(-5px);
    }
    50%{
        transform: translateX(5px);
    }
    100%{
        transform: translateX(-5px);
    }
}
@keyframes shakey {
    0%{
        transform: translatey(-3px);
    }
    50%{
        transform: translatey(3px);
    }
    100%{
        transform: translatey(-3px);
    }
}

@keyframes MovingTrees{
    100%{
        transform: translateX(-500vw);
    }
}